

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/**
 * FLOW UTILITY
 */
.flow {
  --metric-rhythm: 2rem;
  --flow-space: var(--metric-rhythm);
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}



  

 
  .nav {
    .nav__list {
      display: flex;
      padding-left: 7rem;
    }

    .nav__item {
      list-style-type: none;
      padding-left: 7rem;
      font-size:45px;
    }
    

    
  }


.titleLogo{
  font-size: 5.1rem;

display: flex;
margin-right: 20px;

}

.titleLogo:hover{
  background-color:rgb(127, 182, 173);
  width: 115px;
  height: 24px;
  
  
}





  



  



 


        