


body{
  padding: 50px;
}
  
  img.colors{
    border-radius: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border:none;
   
  
  }

.heart{
    width: 30px;
    height: 30px;
    
    
    }
  
  .heart:hover {
    background-color: #d96de3;
    box-shadow: 0px 15px 20px rgba(239, 41, 246, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }


 
 