



  
  .colors{
    border-radius: 70px;
    padding: 0px;
    height: 200px;
    width: 200px;
    border:20px solid transparent;
    position:relative;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 30px;
    text-overflow: hidden;
    cursor:pointer;
    
    
  }
 #contenedor{ 
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }

 

 .center{
  overflow: hidden;

 }
 p{
  
  overflow: hidden;
  color:rgb(7, 7, 7);
  
}

.simplecolors{
  display:flex;
  max-width: 90vw;
  flex-wrap: wrap;

}


a:active {
  background-color: rgba(245, 191, 140, 0.774);
  border-radius: 24px;

}

