


body{
  padding: 50px;
}
  
  img.colors{
    border-radius: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border:none;
   
  
  }

 .heart{
    width: 30px;
    height: 30px;
    
    
   
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .heart:hover {
    background-color: #d96de3;
    box-shadow: 0px 15px 20px rgba(239, 41, 246, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }


 
 