h1{
    color:rgb(0, 0, 0);
    font-size:45px;
    margin-left: 90px;
    font-weight: lighter;
    
}



 img.colors2{
    border-radius: 60px;
    padding: 0px;
    height: 300px;
    width: 300px;
    border:20px solid transparent;
    position:relative;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 200px;
    text-overflow: hidden;
    
    
    
    
    
  }
 .container1{ 
     margin-top: -90px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    
 }

h2.ranking{
font-size: 40px;
color:rgb(87, 87, 87);
font-weight: lighter;
margin-left: 100px;
}
